
.main{
    background-color: gray;
    min-height: 100vh;
}


.foodItems{
    width: 60%;
    margin: auto;
    border:none;
    border-radius: 15px;
    margin-top: 3%;
    background-color: white;  
    margin-bottom: 3%;  
}
.map{
    display: flex;
    margin: 0 3%;
    border-bottom: 1px solid  rgb(210, 210, 210);
    justify-content: space-between;
}
.items{
    margin:0 2%;
    padding: 3% 0;
    
}
.items h4{
    margin: 0;
    margin-bottom: 1%;
}

.amount{
    margin-right: 4%;
    width: 15%;
}
.count{
    display: flex;
    height: fit-content;
    margin-top: 15%;
}
.count label{
    height: fit-content;
    margin: auto;
    font-size: 1.1rem;
}
.count h3{
    height: fit-content;
    margin: 8%;
    width: 20%;
    text-align: center;
    border: 1px solid rgb(166, 166, 166);
}
.amount button{
    margin-left: 30%;
    border-radius: 15px;
    padding: 5% 15%;
    background-color: #761E0B;
    color:white;
    font-weight: 700;
}
.desc{
    margin-bottom: 10%;
}
.desc p{
    font-size: 1.1rem;
}
.desc p span{
    position: absolute;
    right: 7%;
}

.modalButtons{
    position: absolute;
    right: 7%;
    bottom: 10%;
    display: flex;
    width: 40%;
    justify-content: space-between;
}
.modalButtons button{
    padding: 3% 9%;
    font-size: 1.1rem;
    border-radius: 15px;
    border: 1px solid #761E0B;
}