.main {
    background-color: #761E0B;
    display: flex;
    justify-content: space-between;
}

.main h2 {
    /* margin-left: 3%; */
    padding: 0;
    font-size: 2.1rem;
    margin: 1% 0 1% 3%;
    height: fit-content;
    color: white;
}

.main button {
    margin: 0;
    padding: 0.7% 1%;
    margin-right: 6%;
    height: fit-content;
    margin-top: 0.8%;
    width: 13%;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #3F1303;
    color: white;
    border: none;
}

.main button img {
    width: 12%;
    margin-right: 3%;
    display: inline-block;
    margin-left: 9%;
}

.main button span {
    display: inline-block;
    background-color: #A43319;
    width: 20%;
    margin-left: 10%;
    border-radius: 30px;
    padding: 1%;
    align-items: center;
}


.desc {
    margin-top: 0;
}

.desc h3 {
    margin: 0;
}

.desc p {
    font-size: 1.1rem;
    margin-bottom: 12%;
}

.desc p span {
    position: absolute;
    right: 7%;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2%;
}
.right{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    width: 60%;
    margin: 0;
}
.right h3{
    margin: 0;
    width: 50%;
}
.right h4{
    margin: 0;
    width: 20%;
    margin-left: 10%;
}
.right p{
    margin: 0;
    font-weight: 100;
    padding:0 3%;
    border: 1px solid rgb(185, 185, 185);
    width: 10%;
}
.button{
    height: fit-content;
    align-items: center;
    width: 15%;    
    display: flex;
    justify-content: space-between;
    margin: 0;
    
}
.button button{ 
    color: #761E0B;
    border: 1px solid #761E0B;
    font-weight: bolder;
    padding: 2% 12%;
}

.modalButtons {
    position: absolute;
    right: 7%;
    bottom: 10%;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.modalButtons button {
    padding: 3% 9%;
    font-size: 1.1rem;
    border-radius: 15px;
    border: 1px solid #761E0B;
}